<ul>
    <%@completed_users.each do |user|%>
        <li>
            <%if user.review == ""%>
                <%=user.review%>
            <%else%>
                User did not leave review
            <%end%>
            <ul><%=user.personal_rating%>/10</ul>
        </li>
    <%end%>
</ul>

<a href = "/game/<%=@game.id%>">Go back to the game page</a>